<!DOCTYPE html>
<html>
<head>
    <title>Product Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div style="margin-bottom: 20px;">
        <a href="/" class="edit-btn" style="background:#007bff;">Products</a>
        <a href="/locations" class="edit-btn" style="background:#007bff;">Locations</a>
        <a href="/movements" class="edit-btn" style="background:#007bff;">Movements</a>
        <a href="/report" class="edit-btn" style="background:#00ff33;">Balance Report</a>
    </div>
    <h2>📦 Product Management</h2>

    <div class="form-container">
        <form action="/add_product" method="POST">
            <label>New Product Name:</label><br>
            <input type="text" name="product_name" placeholder="Ex: iPhone 15" required>
            <br>
            <button type="submit">Add Product</button>
        </form>
    </div>

    <h3>Available Products</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_name }}</td>
                <td>
                    <a href="/edit_product/{{ product.product_id }}" class="edit-btn">Edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" style="text-align:center;">No products found. Add one above!</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>